@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply md:flex justify-center items-center md:h-screen  
    bg-[url("/bg.jpg")] bg-no-repeat bg-cover
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}